# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
backend/venv/

# Environment variables
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# ML models
*.pth
*.pt
*.ckpt

# Dataset
ai/data/

# Node
node_modules/
.next/
out/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/