SUPABASE_URL=https://vpvdxhaonjjswslddvhh.supabase.co/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZwdmR4aGFvbmpqc3dzbGRkdmhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2NTk0OTMsImV4cCI6MjA5MTIzNTQ5M30.xV-7BwNVwbMMdEGsxZ7L6uY3VmzW84IpBwHpWcn5pVc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zeW9la2ZhZ3NpbGxtYmJxc2dyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM1MDE5MywiZXhwIjoyMDk4OTI2MTkzfQ.iyPEjaCyY5xwEze4Gv7mTX50y2F7Rs4y4fBWntisUH0
GEMINI_API_KEY=